tr {
	 mso-height-source:auto;
	mso-ruby-visibility:none;
}
col {mso-width-source:auto;
	mso-ruby-visibility:none;
}
br {mso-data-placement:same-cell;}
.style0 {
	mso-number-format:General;
	vertical-align:middle;
	white-space:nowrap;
	mso-rotate:0;
	mso-background-source:auto;
	mso-pattern:auto;
	color:black;
	font-size:11.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	mso-generic-font-family:auto;
	mso-font-charset:134;
	border:none;
	mso-protection:locked visible;
	mso-style-id:0;
}
td {
	mso-style-parent:style0;
	padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:black;
	font-size:11.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	mso-generic-font-family:auto;
	mso-font-charset:134;
	mso-number-format:General;
	vertical-align:middle;
	border:none;
	mso-background-source:auto;
	mso-pattern:auto;
	mso-protection:locked visible;
	white-space:nowrap;
	mso-rotate:0;
}
.xl65 {
	mso-style-parent:style0;
	text-align:center;
}
.xl66 {
	mso-style-parent:style0;
	text-align:center;
	border:1.5pt solid windowtext;
	height:15.75pt;border-top:none;border-left:none;
	font-size: 17px;
}
